@import url('https://fonts.googleapis.com/css2?family=Alata&family=Spartan:wght@500;700&display=swap');

:root {
  --primary-color: #5ea6a5;
  --primary-light-color: hsl(180, 52%, 96%);
  --primary-dark-color: hsl(180, 8%, 52%);
  --primary-very-dark-color: hsl(180, 14%, 20%);
  --white-color: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--primary-light-color);
}

img {
  width: 100%;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* ---- */
.header {
  background-image: url('../public/images/bg-header-desktop.svg');
  background-size: cover;
  background-color: var(--primary-color);
  height: 15rem;
}

.container {
  width: 100%;
  max-width: 144rem;
  height: 4rem;
  margin: 0 auto;
  padding: 0 15rem;
}