@import url('https://fonts.googleapis.com/css2?family=Alata&family=Spartan:wght@500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 1.5rem;
}

img {
  width: 100%;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}